{% extends "blog/base.html" %}
{% block content %}
<h1>About me</h1>
<p>Thanks for visiting my blog! Check all this cool stuff about me!</p>

<p>Great to meet you, I'm Satvik Jalan, a Computer Science Engineering student at Bennett University (Times of India group). 
    I am excited to share with you my passion for programming and technology through this blog app that I have created using Python and Django.</p>
<p>The website is designed to be user-friendly and accessible to all. It features a clean, modern layout that is easy to navigate, and is optimized for both desktop and mobile devices. Readers can browse through the blog posts, and leave comments to share their thoughts and feedback.</p>
<p>Thank you for visiting my blog app, and I hope you find the content informative and engaging.</p>
<p>View this project files on Github</p>


{% endblock %}
